/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.scroll-upBut {
  /* position: fixed; */
  right: 3rem;
  bottom: -50%;
  z-index: 10;
  width: 38px;
  height: 38px;
  border-radius: 4px;
  background-color: #2d8cf0;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: bottom 0.4s, transform 0.4s;
}

.scroll-up:hover {
  transform: translateY(-0.25rem);
}

/* Show scroll-up */
._show-scroll {
  bottom: 3rem;
}

@media (max-width: 1199.98px) {
  .scroll-up {
    right: 1rem;
  }
}
