@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;

@layer components {
  html,
  body {
    scroll-behavior: smooth;
  }
  .activeC {
    @apply text-accent duration-300 transform;
  }
  .cardActive {
    @apply text-accent border-accent bg-accent bg-opacity-5 border-opacity-35;
  }
  .menuActive {
    @apply btn rounded-[1rem] me-4 px-8 bg-accent text-white;
  }
  .menuInActive {
    @apply btn rounded-[3rem] me-4 border border-accent px-8 bg-white text-accent;
  }
  .containerWithoutScrollBar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .containerWithoutScrollBar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  /* making input field transparent */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #f54748 !important;
  }
}
@tailwind utilities;
